p=t('Hi {name}', {name: citizenName})
p=t('You have a new reply on you argument')
p!=md('"' + reply.text + '"')
p!=t('Please click <a href="{url}" target="_blank">here</a> to see it', {url: urlComment})
p!=t('To unsubscribe from these emails, please click <a href="{url}" target="_blank">here</a>', {url: urlNotificationsSettings})
p=t('The DemocracyOS team')